<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <% var obj = content[0]  %>
    <h1><%= obj.SEIYU_NAME %></h1>
  </body>
</html>