<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
<!-- ヘッダー開始 -->
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
<!-- ヘッダー終了 -->
<!-- アニメコンテナ開始 -->

<!-- アニメコンテナ終了 -->
<!-- 声優コンテナ開始 -->

<!-- 声優コンテナ終了 -->
    <!-- 今期クールコンテナ開始 -->

    <!-- 今期クールコンテナ終了 -->
  </body>
</html>